.project-card{

    background:#ffffff;

    border-radius:10px;

    padding:20px;

    box-shadow:0 5px 15px rgba(0,0,0,0.08);

}

.project-card h2{

    color:#4338CA;

    margin-bottom:10px;

}

.project-card p{

    color:#555;

    margin-bottom:20px;

}

.project-buttons{

    display:flex;

    gap:10px;

}

.edit-btn{

    flex:1;

    background:#2563EB;

    color:white;

    border:none;

    padding:10px;

    border-radius:6px;

    cursor:pointer;

}

.delete-btn{

    flex:1;

    background:#DC2626;

    color:white;

    border:none;

    padding:10px;

    border-radius:6px;

    cursor:pointer;

}

.edit-btn:hover{

    background:#1D4ED8;

}

.delete-btn:hover{

    background:#B91C1C;

}