.dashboard-card{

    background:white;

    border-radius:12px;

    padding:25px;

    box-shadow:0 5px 15px rgba(0,0,0,0.08);

    transition:0.3s;

}

.dashboard-card:hover{

    transform:translateY(-5px);

}

.dashboard-card h3{

    color:#666;

    margin-bottom:15px;

}

.dashboard-card h1{

    color:#4338CA;

    font-size:38px;

}